/**
* Fanta.css (Fantasy + CSS)
* Version 0.1.0
* https://github.com/jamezmca/fantacss
*
* Sections
* 1. Content sectioning
* 2. Text content
* 3. Inline text semantics
* 4. Image and multimedia
* 5. Tables
* 6. Forms
* 7. Interactive elements
*
*/
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
/*---break---
*/

@custom-variant dark (&:is(.dark *));

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;

        /* --bg-primary: #121113; */
        --bg-primary: #222725;
        --bg-secondary: #121113;
        /* --bg-secondary: #222725; */
        --bg-tertiary: #F3EDE2;
        --bg-accent: #DB504A;
        --bg-compliment: #FF6F59;
        --bg-gradient: '';
        --bg-muted: #cdcdce48;
        --bg-divider: #B6B2AA;

        /* Sizing 1 */
        /* 
        --fs-sm: clamp(0.8rem, -0.01vi + 0.8rem, 0.8rem);
        --fs-base: clamp(1rem, 0.11vi + 0.97rem, 1.06rem);
        --fs-md: clamp(1.25rem, 0.3vi + 1.17rem, 1.42rem);
        --fs-lg: clamp(1.56rem, 0.59vi + 1.41rem, 1.89rem);
        --fs-xl: clamp(1.95rem, 1.02vi + 1.7rem, 2.52rem);
        --fs-xxl: clamp(2.44rem, 1.66vi + 2.03rem, 3.35rem);
        --fs-xxxl: clamp(3.05rem, 2.58vi + 2.41rem, 4.47rem); */

        /* Sizing 2 */
        /* --fs-sm: clamp(0.8rem, 0.05vi + 0.79rem, 0.84rem);
        --fs-base: clamp(1rem, 0.13vi + 0.97rem, 1.13rem);
        --fs-lg: clamp(1.25rem, 0.26vi + 1.18rem, 1.5rem);
        --fs-xl: clamp(1.56rem, 0.46vi + 1.45rem, 2rem);
        --fs-xxl: clamp(1.95rem, 0.75vi + 1.77rem, 2.66rem);
        --fs-xxxl: clamp(2.44rem, 1.17vi + 2.15rem, 3.55rem); */

        /* Sizing 3 */
        --fs-sm: clamp(0.75rem, 0vi + 0.75rem, 0.75rem);
        --fs-base: clamp(0.94rem, 0.06vi + 0.92rem, 1rem);
        --fs-md: clamp(1.17rem, 0.17vi + 1.13rem, 1.33rem);
        --fs-lg: clamp(1.46rem, 0.32vi + 1.39rem, 1.78rem);
        --fs-xl: clamp(1.83rem, 0.55vi + 1.71rem, 2.37rem);
        --fs-xxl: clamp(2.29rem, 0.89vi + 2.09rem, 3.16rem);
        --fs-xxxl: clamp(2.86rem, 1.38vi + 2.55rem, 4.21rem);
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@theme {
    --text-sm: var(--fs-sm);
    --text-base: var(--fs-base);
    --text-md: var(--fs-md);
    --text-lg: var(--fs-lg);
    --text-xl: var(--fs-xl);
    --text-2xl: var(--fs-xxl);
    --text-3xl: var(--fs-xxxl);
}

body {
    color: var(--bg-tertiary);
    font-family: "Eczar", sans-serif;
}

ol,
ul,
li {
    list-style: none;
}

/* This is how we manually change the size of <br /> */
br {
    display: block;
    content: '';
    margin-top: 16px;
}

img {
    position: relative !important;
}

p {
    font-size: var(--text-base);
    font-weight: 425;
    line-height: 28px;
}

.styled-list {
    list-style: disc !important;
    list-style-position: inside !important;
}

/* Creates a vertical line */
/* https://stackoverflow.com/a/71893546 */
.divider {
    display: none;
    position: relative;
    background: transparent;
}

.divider:after {
    content: '';
    position: absolute;
    border-left: 1px solid black;
    right: -10px;
    height: 100%;
    background: transparent;
}

.divider:last-child:after {
    display: none;
}

@layer components {
    .footer-section {
        @apply w-full flex flex-col gap-4;
        /* @apply xl:w-auto; */
    }

    .socials-item {
        @apply flex col-span-2 justify-center;
    }

    .footer-heading {
        @apply text-md w-full font-semibold;
        border-bottom: solid 1px var(--bg-muted);
    }

    .footer-link {
        @apply text-(--bg-accent) font-medium text-base;
    }
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 2.5rem;
}

/* Tailwindcss 'md' breakpoint (768px) */
@media (width >=48rem) {
    .footer-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 1.5rem;
        column-gap: 3.5em;
    }
}

/* Tailwindcss 'lg' breakpoint (1024px) */
@media (width >=64rem) {
    br {
        margin-top: 12px;
    }

    .divider {
        display: block;
    }
}

/* Tailwindcss 'xl' breakpoint (1280px) */
@media (width >=80rem) {
    .footer-grid {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        column-gap: 1.5rem;
    }
}

/* Tailwindcss '2xl' breakpoint (1536px) */
@media (width >=96rem) {
    .footer-grid {
        grid-template-columns: min-content repeat(3, auto);
        grid-template-rows: auto;
    }

}